<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагування даних Qdrant</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1>Адмінка Орхідея AI</h1>
        <hr>
          <div class="broadsact">
         <h2>Повідомлення всім</h2>
         <form action="/{{ URL }}/broadcast" method="get">
            <textarea id="bro" name="bro" ></textarea>
            <button type="submit" class="btn btn-danger">Надіслати</button>
        </form>
    </div>
        <hr>
        <h2>Редагування даних Орхідеї</h2>
        <button class="btnadd btn btn-primary" onclick="addData()">Додати дані</button>
        <hr>
        <div id="editor"></div>
        <button class="btn btn-success" onclick="updateData()">Обновити</button>
      <hr>
    </div>
 <footer>
     <div class="alert alert-primary " role="alert">
 <h5>Zelse Soft 2025</h5>
</div>
    </footer>

    <script>
       async function addData() {
         const response = await fetch("/add-data");
         editor.innerHTML ='';
         loadData();

       }
        async function loadData() {
            const response = await fetch("/get_all");
            const data = await response.json();
            const editor = document.getElementById("editor");
            editor.innerHTML = data.map(item => `
                <div class="item" data-id="${item.id}">
                    <label>${item.id} Питання:</label>
                    <input type="text" class="question" value="${item.question}">
                    <label>Відповідь:</label>
                    <input type="text" class="answer" value="${item.answer}">
                    <hr>
                </div>
            `).join('');
        }

        async function updateData() {
            const editor = document.getElementById("editor");
            const items = editor.querySelectorAll("div[data-id]");
            const updatedData = Array.from(items).map(item => ({
                id: parseInt(item.getAttribute("data-id")),
                question: item.querySelector(".question").value,
                answer: item.querySelector(".answer").value
            }));

            const response = await fetch("/update_all", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(updatedData)
            });

            const result = await response.json();
            alert(result.message);
        }

        loadData();
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
